@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  font-weight: 600;
}

h2 {
  font-weight: 500;
}

.nav img {
  display: inline;
  max-width: 40px;
  width:10%;
  pointer-events: all;
}

.nav img:hover {
  cursor: pointer;
}